html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
img { border:none; }
ul, li{ list-style:none; }
body { font-family:"Microsoft YaHei",Arial; font-size:24px; letter-spacing: 2px; color:#333;}
a{text-decoration: none;  display:block;}
i{ font-style: normal; }
html,body{
    width:100%;
    height:100%;
}
@font-face {
    font-family: 'iconfont';
    src: url('iconfont.eot');
    src: url('iconfont.eot?#iefix') format('embedded-opentype'),
    url('iconfont.woff') format('woff'),
    url('iconfont.ttf') format('truetype'),
    url('iconfont.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:40px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
/* 识别0.5px*/
/*.scale{ position:relative;}*/
/*.scale:after{*/
    /*content:"";*/
    /*position:absolute;*/
    /*bottom:0;*/
    /*left:0;*/
    /*right:0;*/
    /*border-bottom:1px solid #ddd;*/
    /*-webkit-transform:scaleY(.5);*/
    /*-webkit-transform-origin: 0 0;*/
/*}*/
.logo{
    padding: 2px 0.32rem 0;
    height:1.6rem;
    display:flex;
    justify-content: center;
    align-items:center;
    border-bottom:0.13rem solid #f5f5f5;
    position:fixed;
    top:0;
    width:100%;
    background-color:#fff;
    z-index:1000;
}
.logo-left{position:absolute; left:0.32rem;}
.logo-right{ color:#e94949; font-size:0.48rem; font-weight:bolder;}
.logo-left .unLogin{ display: none; }
.unLogin a{
    color: #666;
    font-size:0.32rem;
    display:inline-block;
}
.logo-left img{
    width: 1.1rem;
    height:0.85rem;
}
.content{
    padding:0 0.32rem;
    height:1.98rem;
    line-height:1.98rem;
}
.content-left,
.content-right{
    width:50%;
    height:1.60rem;
    float:left;
    text-align:center;
}
.content-left{
    line-height:normal;
    margin-top:0.38rem;
    background:url(../images/line.png) no-repeat right 1px;
    background-size: 2px 1.33rem;
}
.content-left p{
    font-size:0.32rem;
    color:#666;
}
.content-left strong{
    font-size:0.8rem;
    color:#e94949;
}
.content-right strong{
    font-size:0.43rem;
    color:#e94949;
}
/*---填充--*/
.fillbar{height:0.27rem; background-color:#f5f5f5;}
.btn{
    margin:0 0.32rem;
    height:0.8rem;
    background-color:#e94949;
    text-align:center;
    line-height:0.8rem;
    color:#fff;
}
/*-------footer-------*/
.foot{height: 3.36rem; }
.foot .version{
    height:0.853rem;
    color:#ccc;
    text-align:center;
    background-color:#f5f5f5;
    line-height:0.853rem;
}
.foot .nav{
    position:fixed;
    bottom:1.173rem;
    width:100%;
    height:1.333rem;
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color:#fff;
    z-index:1000;
}
.nav-item{
    flex-grow:1;
    text-align:center;
}
.nav-item img{
    width:0.533rem;
    height:0.5333rem;
}
.footing{
    position:fixed;
    bottom:0;
    width:100%;
    height:1.173rem;
    background-color:#4b4b4d;
    display:flex;
    justify-content: space-around;
    align-items: center;
    z-index:1000;
}
.prev    {background:url(../images/prev.png) no-repeat;}
.next    {background:url(../images/next.png) no-repeat;  }
.share   {background:url(../images/more.png) no-repeat;  }
.bookmark{background:url(../images/bookmark.png) no-repeat;  }
.mine    {background:url(../images/overshow.png) no-repeat}

.prev,
.next,
.share,
.bookmark,
.mine{
    width:0.426rem;
    height:0.64rem;
    background-size: 0.426rem 0.64rem;
}