.myEarnings{height: 4rem; margin-top: 1.72rem;}
.myEarnings-left{width: 5.653rem; float:left; height: 4rem; text-align: center; }
.myEarnings-left p{margin-top: 0.32rem;}
.myEarnings-right{width: 4.346rem; float:left; height: 4rem;}

